body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 15px;
}

#planets {
  height: 100%;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

.display-area {
  grid-area: 2 / 2 / 3 / 4;
}
