body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 15px;
  background: url("assets/stars.png") center/40px,
    linear-gradient(
      45deg,
      rgba(33, 38, 64, 1) 0%,
      rgba(0, 0, 0, 1) 19%,
      rgba(0, 0, 0, 1) 80%,
      rgba(121, 61, 27, 1) 91%,
      rgba(179, 64, 55, 1) 95%,
      rgba(134, 129, 35, 1) 100%
    );
}

#planets {
  display: grid;
  width: 700px;
  height: 100vh;
  grid-template-areas:
    ". p1 p2 ."
    "p3 info info p4"
    "p5 info info p6"
    "p7 info info p8"
    ". p9 p10 .";
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.display-area {
  grid-area: info;
}

.planet-button {
  justify-self: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

#Tatooine {
  grid-area: p1;
}

#Alderaan {
  grid-area: p2;
}

#Yavin {
  grid-area: p3;
  justify-self: end;
}

#Hoth {
  grid-area: p4;
  justify-self: start;
}

#Dagobah {
  grid-area: p5;
}

#Bespin {
  grid-area: p6;
}

#Endor {
  grid-area: p7;
  justify-self: end;
}

#Naboo {
  grid-area: p8;
  justify-self: start;
}

#Coruscant {
  grid-area: p9;
}

#Kamino {
  grid-area: p10;
}
